/* Counter.css */
.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    border-radius: 15px;
    padding: 5px 10px;
    color: #fff;
}

.counter-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.counter-quantity {
    font-size: 16px;
    margin: 0 10px;
}
