/* FoodCard.css */
.food-card-container {
    height: 100%;
    margin: auto;
}

.button{
    width: 90%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #D9C77C;
    box-shadow: 0px 4px 5px 0px rgba(255, 255, 255, 0.05);
    font-size: 15px;
}

.food-card-backdrop {
    width: 150px;
    height: 245px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    border: 1px solid #D6C27B;
}

.food-card-price {
    width: 300px;
    height: 60px;
    background: #D9C77C;
    box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.05);
    border-radius: 30px;
}

.food-card-price-text {
    text-align: center;
    color: black;
    font-size: 15px;
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 500;
    word-wrap: break-word;
}

.food-card-weight {
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.food-card-name {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    text-align: left;
    color: white;
    font-size: 10px;
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.food-card-image {
    width: 90%;
    margin-top: 10px;
    border-radius: 30px;
    background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%);
}
