/* ProductModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    color: white;
    padding: 20px;
}

.product-buttons{
    display: flex;
    justify-content: space-between;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.modal-details {
    text-align: center;
}

.modal-actions button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #ffd700; /* Gold color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-actions button:hover {
    background-color: #cca700;
}

.product-page{
    color: white;
}

.description-product{
    color: rgba(255, 255, 255, 0.50);
    text-align: start;
    font-family: 'SF Pro Text regular';
}

.weight-product{
    color: rgba(255, 255, 255, 0.50);
    margin-left: 15px;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
}

.main-product-info{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.block-text-product{
    margin: 30px auto;
}

.block_product{
    width: 90%;
    margin:auto;
    margin-top: 30px;
}

.product-btn{
    height: 61px;
    width: 58%;
    margin: 0;
    border-radius: 20px
}
.new-label{
    left: 0;
    transform: translateX(0%);
    position: relative;
}

.counter-product{
    width: 40%;
    height: 61px;
}

