.cart{
    color: white;
    margin-top: 30px;
}

.cart-item-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 15px auto;
}

.image-item-block img{
    width: 60px;
    height: 60px;
}


.description{
    display: flex;
    margin-top: 8px;
    font-size: 14px;
}

.image-item-block{
    display: flex;
    align-items: center;
}

.description-item-block{
    margin-left: 15px;
}

.item-weight{
    color: rgba(255, 255, 255, 0.50);
    margin-left: 8px;
}

.item-title{
    font-size: 16px;
    text-align: start;
}

.counter-block{
    width: 90px;
}