.avatar img{
    width: 30px;

}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #cfcfcf;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}

.medal img{
    width: 30px;
    border-radius: 10x;
}

.name{
    color: black;
    font-size: 12px;
}

.leaderboard{
    color: black;
    font-size: 12px;
}

.avatar-block{
    display: flex;
    align-items: center;
    text-align: start;

}