.navbar{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.active{
    background-color: #1a1a1a;
    border-radius: 30px;
}

/* navbar.css */
.navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays on top of other content */
    display: flex;
    justify-content: flex-start; /* Changed from space-around for tighter alignment */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Ensure items don't wrap to a new line */
    margin: 20px 0 10px 15px;
    padding: 20px 10px; /* Add padding for visual comfort */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: Add a subtle shadow */
    background-color: rgb(0,0,0);
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.navbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}


.block_nav {
    padding: 10px 15px; /* Увеличиваем паддинг для лучшего вида кнопок */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Анимация фона */
    display: inline-block; /* Изменяем на inline-block для правильного расположения в строке */
}

.nav_text {
    margin: 0;
    font-size: 15px;
    color: #808080;
    transition: color 0.3s ease;  /* Анимация для цвета текста */
}

.block_nav.active .nav_text {
    color: #D6C27B;  /* Цвет текста для активного состояния */
}
