body{
  background-color: rgb(0,0,0);
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Создаём две колонки с равным распределением пространства */
  grid-gap: 20px; /* Отступы между карточками */
  padding: 20px; /* Отступ вокруг контейнера с карточками */
}

.block_header {
  display: flex;        /* Включаем Flexbox */
  justify-content: space-between; /* Распределяем свободное пространство между элементами */
  align-items: center;  /* Выравниваем элементы по центру по вертикали */
  width: 100%;          /* Занимаем полную ширину родителя */
}

.logo {
  width: 40px;
  height: 40px;
  flex: 0 1 auto;  /* Логотип не растет и не сжимается, сохраняя свой авто размер */
  text-align: center;
  margin: 0 auto; /* Центрируем изображение логотипа, если оно меньше контейнера */
}

.block_basket {
  flex-grow: 0;         /* Запрещаем корзине расти, оставляя её в правой части */
}
